body{
  overflow-x: hidden;
  overflow-y: scroll;
}

/* ----- Profile Page ----- */
#profile-page{
  width: calc(100vw - 20rem);
  height: 100vh;
  margin-left: 20rem;
  font-family: Nunito, sans-serif;
}

/* ----- Side Menu ----- */
#side-menu-wrapper{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20rem;
  background: linear-gradient(rgb(1, 37, 12), rgb(1, 37, 3), rgb(14, 138, 55));
  display: flex;
  align-items: center;
  justify-content: center;
}

#side-menu{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: calc(1vw + 0.5rem);
  color: white;
  gap: 3rem;
}

#side-menu li{
  border-style: solid;
  border-width: 3px;
  border-image: linear-gradient(45deg, rgba(65, 65, 65, 0.2), rgba(255, 255, 255, 0.2)) 1;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 90%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px 0 10px;
  transition: 300ms border-image;
}

#side-menu li a{
  opacity: 0.3;
  transition: 150ms opacity;
}

#side-menu li a:hover{
  opacity: 0.5
}

@keyframes fillborder{
  0% {border-image: linear-gradient(45deg, rgba(65, 65, 65, 0.8), rgba(255, 255, 255, 1)) 1;}
  25% {border-image: linear-gradient(45deg, rgba(65, 65, 65, 0.6), rgba(255, 255, 255, 0.8)) 1;}
  50% {border-image: linear-gradient(45deg, rgba(65, 65, 65, 0.4), rgba(255, 255, 255, 0.6)) 1;}
  75% {border-image: linear-gradient(45deg, rgba(65, 65, 65, 0.2), rgba(255, 255, 255, 0.4)) 1;}
  100% {border-image: linear-gradient(45deg, rgba(65, 65, 65, 0.8), rgba(255, 255, 255, 1)) 1;}
}

/* ----- Sections (General) ----- */
.portfolio-section-general{
  width: 100%;
  min-height: 100rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ----- About Me -----*/
#about-me{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgb(18, 10, 54));
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(18, 10, 54, 0.2)), url(../assets/stars.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#olo{
  color: white;
  width: 90%;
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#title-name-links{
  position: relative;
}

#name{
  font-weight: 800;
  font-size: calc(1vw + 1rem);
  letter-spacing: 1px;
}

#what-am-i{
  font-weight: 1000;
  font-size: calc(1vw + 2rem);
  letter-spacing: 2px;
  background-image: linear-gradient(45deg, rgb(253, 8, 8), rgb(255, 255, 255));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#links-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 5px;
  border-radius: 10px;
  width: 10rem;
  position: absolute;
  top: -20px;
  right: 0;
}

.link-img{
  width: 30%;
}

#tools-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  place-items: start;
  width: 70%;
}

.tool{
  position: relative;
  border: 2px solid white;
  border-radius: 10px;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tool-img{
  width: 64px;
}

.tool-tooltip{
  opacity: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 500ms opacity;
  width: 20px;
  background: rgba(0, 0, 0, 0.6);

}

.tool:hover .tool-tooltip{
  opacity: 1;
}

/* ----- Projects ----- */
#projects{
 background: rgb(25, 18, 59);
 background-image: linear-gradient(rgba(25, 18, 59, 0.2), rgba(39, 28, 94, 0.2)), url(../assets/stars.png);
}

/* ----- Contact Me ----- */
#contact-me{
  background: linear-gradient(rgb(36, 25, 87), rgb(49, 37, 80), rgb(115, 103, 145));
  background-image: linear-gradient(rgba(36, 25, 87, 0.2), rgba(49, 37, 80, 0.2), rgba(115, 103, 145, 0.2)), 
                    url(../assets/stars.png);
}