button{
  cursor: pointer;
}

body{
  overflow-x: hidden;
  background: rgb(29, 29, 29);
  height: 100vh;
  width: 100vw;
}

#portfolio{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Nunito, Arial;
}

.sections{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: calc(0.5vw + 0.5rem);
  position: relative;
}

.section-title{
  position: absolute;
  top: 5rem;
  font-size: calc(1vw + 2.5rem);
  font-family: Roboto, Arial;
  letter-spacing: 1px;
  font-weight: 900;
}

.section-title span{
  margin-left: 7px;
  margin-right: 7px;
}
/* ------- Welcome ------- */
#welcome-section{
  color: white;
  gap: 5px;
  font-size: calc(1vw + 2rem);
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  justify-content: center;
}

#welcome-section button{
  border: 2px solid rgb(255, 225, 52);
  border-radius: 5px;
  color: gold;
  padding: 7px 20px;
  font-size: calc(1vw + 1rem);
  transition: 150ms border-color, 150ms transform;
}

#welcome-section button:hover{
  animation: 2s ease-in infinite welcomebtn;
}

#welcome-section button:active{
  transform: scale(1.1);
}

@keyframes welcomebtn{
  0%{
    border-color: rgb(255, 225, 52);
  }
  50%{
    border-color: white;
  }
  100%{
    border-color: rgb(255, 225, 52);
  }
}

/* ------- Menu ------- */
#menu{
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  padding: 2rem 3rem;
  height: 3rem;
  font-size: calc(0.5vw + 1rem);
  background: rgb(21, 21, 21);
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.7);
  opacity: 0;
}

.menu-style{
  opacity: 0.9 !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#menu button{
  transition: 300ms color, 100ms border-bottom;
}

#menu button:hover{
  color: gold;
}

.menu-style-btn{
  color: gold;
  border-bottom: 3px solid rgb(255, 225, 52);
}

/* ------- About ------- */
#about-section-content{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10em;
  width: 100%;
}

#about-section-content p{
  max-width: 40rem;
}

#about-section-me{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  margin-top: -7em;
}

#about-section-picture-border{
  border-radius: 50%;
  height: 15em;
  width: 15em;
  position: relative;
  background: rgb(29, 29, 29);
  border: 3px solid transparent;
  background-clip: padding-box;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before{
    content: '';
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background: linear-gradient(to right, rgb(255, 93, 93), rgb(255, 225, 52));
    border-radius: inherit;
    z-index: -1;
    margin: -3px;
  }
}

#about-section-picture-border img{
  width: 10.5em;
}

.tools-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#tools{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transform: scale(0.9);
}

.tool-border{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  border: 3px solid transparent;
  color: #FFF;
  background: rgb(29, 29, 29);
  background-clip: padding-box;
  border-radius: 1em;
  padding: 0.5em 2em;

  &:before{
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -3px;
    border-radius: inherit;
    background: linear-gradient(to right, rgb(255, 93, 93), rgb(255, 225, 52));
  }
}

.tool{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  font-family: Roboto, Arial;
  font-weight: 500;
  width: 5em;
  min-height: 5em;
}

.tool img{
  width: 64px;
}

.tool span{
  font-size: calc(0.5vw + 0.4rem);
  letter-spacing: 2px;
}

/* ------- Projects ------- */
#projects, #projects-wrapper, .project-container-left, .project-container-right{
  width: 100%;
}

#projects-wrapper{
  display: flex;
  flex-direction: column;
  gap: 10em;
}

#projects{
  margin-top: 15em;
}

.project-container-left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 7em;
}

.project-container-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 7em;
}

.project-wrappers{
  width: 60em;
  position: relative;
  color: white;
  font-family: Roboto, Arial;
}

.project-wrappers img{
  width: 100%;
}

.project-description-left, .project-description-right{
  position: absolute;
  backdrop-filter: blur(10px);
  background: linear-gradient(45deg, rgba(44, 44, 44, 0.3), rgba(20, 20, 20, 0.5));
  border-radius: 5px;
  padding: 1em;
}

.project-description-left{
   right: -11em; top: 3em;
}

.project-description-right{
  left: -11em; top: 3em;
}

.project-description-left h2, .project-description-right h2{
  font-weight: 900;
  font-size: calc(1vw + 1rem);
  letter-spacing: 1px;
}

