body{
  overflow-x: hidden;
  overflow-y: scroll;
}

/* ----- Profile Page ----- */
#profile-page{
  width: calc(100vw - 20rem);
  height: 100vh;
  margin-left: 20rem;
  font-family: Nunito, sans-serif;
}

#links-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: white;
  padding: 5px;
  border-radius: 10px;
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 2;
}

.link-img{
  width: 32px;
}

.section-titles{
  position: absolute;
  top: -5rem;
  left: 0;
  font-weight: 800;
  font-size: calc(1vw + 1rem);
  color: white;
}

.buttons{
  border: 2px solid gold;
  border-radius: 25px;
  padding: 10px 20px 10px 20px;
  font-weight: 700;
  font-size: calc(1vw + 1rem);
  letter-spacing: 1px;
  cursor: pointer;
  transition: 150ms transform;
}

.buttons:hover{
  transform: scale(1.03);
}

.buttons:active{
  transform: scale(1.07);
}

/* ----- Side Menu ----- */
#side-menu-wrapper{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20rem;
  background: linear-gradient(rgb(1, 37, 12), rgb(1, 37, 3), rgb(14, 138, 55));
  display: flex;
  align-items: center;
  justify-content: center;
}

#side-menu{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: calc(1vw + 0.5rem);
  color: white;
  gap: 3rem;
}

#side-menu li{
  border-style: solid;
  border-width: 3px;
  border-image: linear-gradient(45deg, rgba(65, 65, 65, 0.2), rgba(255, 255, 255, 0.2)) 1;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 90%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px 0 10px;
  transition: 300ms border-image;
}

#side-menu li a{
  opacity: 0.3;
  transition: 150ms opacity;
}

#side-menu li a:hover{
  opacity: 0.5
}

@keyframes fillborder{
  0% {border-image: linear-gradient(45deg, rgba(65, 65, 65, 0.8), rgba(255, 255, 255, 1)) 1;}
  25% {border-image: linear-gradient(45deg, rgba(65, 65, 65, 0.6), rgba(255, 255, 255, 0.8)) 1;}
  50% {border-image: linear-gradient(45deg, rgba(65, 65, 65, 0.4), rgba(255, 255, 255, 0.6)) 1;}
  75% {border-image: linear-gradient(45deg, rgba(65, 65, 65, 0.2), rgba(255, 255, 255, 0.4)) 1;}
  100% {border-image: linear-gradient(45deg, rgba(65, 65, 65, 0.8), rgba(255, 255, 255, 1)) 1;}
}

/* ----- Sections (General) ----- */
.portfolio-section-general{
  width: 100%;
  min-height: 60rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/* ----- About Me -----*/
#about-me{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgb(18, 10, 54));
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(18, 10, 54, 0.2)), url(../assets/stars.png); 
}

#olo{
  color: white;
  width: 90%;
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

#title-name-links{
  position: relative;
}

#name{
  font-weight: 800;
  font-size: calc(1vw + 1rem);
  letter-spacing: 1px;
}

#what-am-i{
  color: goldenrod;
  font-weight: 1000;
  font-size: calc(1vw + 4rem);
  letter-spacing: 2px;
}

#about-me-paragraph{
  font-weight: 500;
  font-size: calc(1vw + 1rem);
  letter-spacing: 1px;
}

#work-button{
  position: absolute;
  bottom: -6rem;
  left: 0;
}

/* ----- Skills ----- */
#skills{
  background: rgb(18, 10, 54);
  background-image: linear-gradient(rgba(18, 10, 54, 0.2), rgba(23, 16, 59, 0.2)), url(../assets/stars.png);
  color: white;
}

#tools-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  place-items: start;
  width: 70%;
  margin-top: 20%;
  position: relative;
}

.tool{
  position: relative;
  border: 3px solid gold;
  border-radius: 10px;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  transition: 150ms transform;
  background: white;
}

.tool:hover{
  transform: scale(1.05);
}

.tool-img{
  width: 64px;
}

.tool-tooltip{
  opacity: 0;
  position: absolute;
  bottom: 2px;
  left: 32px;
  transition: 500ms opacity;
  background: rgba(255, 255, 0, 0.8);
  font-weight: 700;
  font-size: calc(0.5vw + 0.5rem);
  padding: 5px;
  border-radius: 10px;
  color: black;
  z-index: 1;
}

.tool:hover .tool-tooltip{
  opacity: 1;
}

/* ----- Projects ----- */
#projects{
 background: rgb(25, 18, 59);
 background-image: linear-gradient(rgba(25, 18, 59, 0.2), rgba(39, 28, 94, 0.2)), url(../assets/stars.png);
 color: white;
 position: relative;
}

#project-pages-wrapper-style{
  width: 70%;
  margin-top: 10%;
  position: relative;
}

#project-pages-wrapper{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#projects-title{
  position: absolute;
  left: calc(30% - 15rem);
  top: 10%;
  font-weight: 800;
  font-size: calc(1vw + 1rem);
}

.project-pages{
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
  gap: 25px;
}

.project-container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.project-container:hover .project-description{
  width: 20%;
  left: 60%;
}

.project-container:hover .project-image-container img{
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.project-image-container{
  height: 100%;
  display: flex;
}

.project-image-container{
  width: 60%;
  z-index: 1;
}

.project-image-container img{
  width: 100%;
  border: 5px solid rgba(218, 165, 32, 1);
  border-radius: 20px;
  transition: all 300ms ease-out;
}

.project-description{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10%;
  width: 0;
  background: goldenrod;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  color: black;
  transition: 300ms width, 1000ms left ease-out;
}

.project-page-buttons{
  height: 2rem;
  width: 2rem;
  background: gold;
  border-radius: 7px;
}

#project-page-left-wrapper, #project-page-right-wrapper{
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 3;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0);
  transition: 150ms background;
}

#project-page-left-wrapper:hover, #project-page-right-wrapper:hover{
  background: rgba(255, 255, 255, 0.1);
}

#project-page-left-wrapper{
  left: -5.5rem;
  animation: moveLeft 4.5s infinite ease-in;
}

#project-page-right-wrapper{
  right: -5.5rem;
  animation: moveRight 4.5s infinite ease-in;
}

@keyframes moveRight{
  0% {right: -5.5rem;}
  25% {right: -6.5rem;}
  50% {right: -5rem;}
  75% {right: -6.5rem;}
  100% {right: -5.5rem;}
}

@keyframes moveLeft{
  0% {left: -5.5rem;}
  25% {left: -6.5rem;}
  50% {left: -5rem;}
  75% {left: -6.5rem;}
  100% {left: -5.5rem;}
}

#project-page-left{
  clip-path: polygon(100% 0, 100% 100%, 0 50%);
}

#project-page-right{
  clip-path: polygon(100% 50%, 0 0, 0 100%);
}

/* ----- Contact Me ----- */
#contact-me{
  background: linear-gradient(rgb(36, 25, 87), rgb(49, 37, 80), rgb(115, 103, 145));
  background-image: linear-gradient(rgba(39, 28, 94, 0.2), rgba(49, 37, 80, 0.2), rgba(115, 103, 145, 0.2)), 
                    url(../assets/stars.png);
  align-items: center;
}

#contact-me-form{
  width: 80%;
  height: 50rem;
  border: 2px solid gold;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
  background: rgba(255,255, 255, 0.1);
  position: relative;
}

#contact-me-form label{
  font-size: calc(1vw + 0.5rem);
  font-weight: 700;
}

.contact-inputs{
  padding: 5px;
  background: rgba(255, 255, 255, 0.5);
  color: azure;
  border-radius: 5px;
}

#contact-name-email-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-labels{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#contact-title{
  border-bottom: 4px solid goldenrod;
  position: absolute;
  top: 3.5rem;
}

#contact-title h1{
  font-weight: 800;
  font-size: calc(1.5vw + 3rem);
  color: white;
}

/* ----- Cool Stuff ----- */
.hidden{
  display: none !important;
}